body {
    background-color: rgb(255, 196, 0);
}
img{
    display: block; /* Cambia la imagen a bloque */
    margin: 0 auto; /* Centra la imagen horizontalmente */
    width: 70%; /* Ajusta el ancho según sea necesario */
}
    h1 {
    text-align: center;
    font-size: 2.5rem;
    color: black;
}

/*Tabla */
table {
    margin: 0 auto; /* Centra la tabla horizontalmente */
}
thead{
    background-color: rgb(3, 3, 99);
    color: aliceblue;
}
tbody, tfoot{
    background-color: rgb(243, 235, 119);
    color: black;
}
th{
    border: 2px solid rgb(32, 78, 228);
    width:0 auto;
}  
td{
    border: 2px solid rgb(241, 243, 113);
    width: 150px;
  } 
caption{
    color: black;
    caption-side: top;
    font-weight: 900;
    font-size: larger;
  }

/* Estilo general de la sección */
.pena-div {
    padding: 20px;
    background-color: #f8f9fa4a; /* Color de fondo suave */
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 20px;
}

/* Estilos para los encabezados */
.pena-h3 {
    font-size: 1.5em;
    color: #333;
    margin-bottom: 10px;
    border-left: 4px solid #007bff; /* Línea de color para destacar */
    padding-left: 10px;
}

/* Estilo de la lista */
.pena-ul {
    list-style: none; /* Eliminar viñetas predeterminadas */
    padding: 0;
}

/* Estilo de los elementos de lista */
.pena-li {
    margin: 10px 0;
}

/* Estilo de los enlaces */
.pena-a {
    text-decoration: none; /* Sin subrayado */
    color: #007bff; /* Color azul para los enlaces */
    font-weight: bold;
    transition: color 0.3s;
}